webClinic_5774_5605_4375/src/conf/xml-resources/web-service-references/NewWebService_3/wsdl/localhost_8083/java5774_5605_4375_WS/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:8083/java5774_5605_4375_WS/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="GetPatientMeeting">
<part name="parameters" element="tns:GetPatientMeeting"/>
</message>
<message name="GetPatientMeetingResponse">
<part name="parameters" element="tns:GetPatientMeetingResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="CalcPatientUnpaidMeeting">
<part name="parameters" element="tns:CalcPatientUnpaidMeeting"/>
</message>
<message name="CalcPatientUnpaidMeetingResponse">
<part name="parameters" element="tns:CalcPatientUnpaidMeetingResponse"/>
</message>
<message name="CalcPatientTotalCost">
<part name="parameters" element="tns:CalcPatientTotalCost"/>
</message>
<message name="CalcPatientTotalCostResponse">
<part name="parameters" element="tns:CalcPatientTotalCostResponse"/>
</message>
<message name="CalcAllPatientTotalCost">
<part name="parameters" element="tns:CalcAllPatientTotalCost"/>
</message>
<message name="CalcAllPatientTotalCostResponse">
<part name="parameters" element="tns:CalcAllPatientTotalCostResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="changePatient">
<part name="parameters" element="tns:changePatient"/>
</message>
<message name="changePatientResponse">
<part name="parameters" element="tns:changePatientResponse"/>
</message>
<message name="changeMeeting">
<part name="parameters" element="tns:changeMeeting"/>
</message>
<message name="changeMeetingResponse">
<part name="parameters" element="tns:changeMeetingResponse"/>
</message>
<message name="changeServices">
<part name="parameters" element="tns:changeServices"/>
</message>
<message name="changeServicesResponse">
<part name="parameters" element="tns:changeServicesResponse"/>
</message>
<message name="AddPatiant">
<part name="parameters" element="tns:AddPatiant"/>
</message>
<message name="AddPatiantResponse">
<part name="parameters" element="tns:AddPatiantResponse"/>
</message>
<message name="DelPatient">
<part name="parameters" element="tns:DelPatient"/>
</message>
<message name="DelPatientResponse">
<part name="parameters" element="tns:DelPatientResponse"/>
</message>
<message name="AddMeeting">
<part name="parameters" element="tns:AddMeeting"/>
</message>
<message name="AddMeetingResponse">
<part name="parameters" element="tns:AddMeetingResponse"/>
</message>
<message name="DelMeeting">
<part name="parameters" element="tns:DelMeeting"/>
</message>
<message name="DelMeetingResponse">
<part name="parameters" element="tns:DelMeetingResponse"/>
</message>
<message name="AddService">
<part name="parameters" element="tns:AddService"/>
</message>
<message name="AddServiceResponse">
<part name="parameters" element="tns:AddServiceResponse"/>
</message>
<message name="DelService">
<part name="parameters" element="tns:DelService"/>
</message>
<message name="DelServiceResponse">
<part name="parameters" element="tns:DelServiceResponse"/>
</message>
<message name="GetAllPatient">
<part name="parameters" element="tns:GetAllPatient"/>
</message>
<message name="GetAllPatientResponse">
<part name="parameters" element="tns:GetAllPatientResponse"/>
</message>
<message name="GetAllServices">
<part name="parameters" element="tns:GetAllServices"/>
</message>
<message name="GetAllServicesResponse">
<part name="parameters" element="tns:GetAllServicesResponse"/>
</message>
<message name="GetAllMeetings">
<part name="parameters" element="tns:GetAllMeetings"/>
</message>
<message name="GetAllMeetingsResponse">
<part name="parameters" element="tns:GetAllMeetingsResponse"/>
</message>
<message name="CalcPatientPaid">
<part name="parameters" element="tns:CalcPatientPaid"/>
</message>
<message name="CalcPatientPaidResponse">
<part name="parameters" element="tns:CalcPatientPaidResponse"/>
</message>
<message name="counselingType">
<part name="parameters" element="tns:counselingType"/>
</message>
<message name="counselingTypeResponse">
<part name="parameters" element="tns:counselingTypeResponse"/>
</message>
<message name="treatmentType">
<part name="parameters" element="tns:treatmentType"/>
</message>
<message name="treatmentTypeResponse">
<part name="parameters" element="tns:treatmentTypeResponse"/>
</message>
<portType name="NewWebService">
<operation name="GetPatientMeeting">
<input wsam:Action="http://webService/NewWebService/GetPatientMeetingRequest" message="tns:GetPatientMeeting"/>
<output wsam:Action="http://webService/NewWebService/GetPatientMeetingResponse" message="tns:GetPatientMeetingResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/GetPatientMeeting/Fault/Exception"/>
</operation>
<operation name="CalcPatientUnpaidMeeting">
<input wsam:Action="http://webService/NewWebService/CalcPatientUnpaidMeetingRequest" message="tns:CalcPatientUnpaidMeeting"/>
<output wsam:Action="http://webService/NewWebService/CalcPatientUnpaidMeetingResponse" message="tns:CalcPatientUnpaidMeetingResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/CalcPatientUnpaidMeeting/Fault/Exception"/>
</operation>
<operation name="CalcPatientTotalCost">
<input wsam:Action="http://webService/NewWebService/CalcPatientTotalCostRequest" message="tns:CalcPatientTotalCost"/>
<output wsam:Action="http://webService/NewWebService/CalcPatientTotalCostResponse" message="tns:CalcPatientTotalCostResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/CalcPatientTotalCost/Fault/Exception"/>
</operation>
<operation name="CalcAllPatientTotalCost">
<input wsam:Action="http://webService/NewWebService/CalcAllPatientTotalCostRequest" message="tns:CalcAllPatientTotalCost"/>
<output wsam:Action="http://webService/NewWebService/CalcAllPatientTotalCostResponse" message="tns:CalcAllPatientTotalCostResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/CalcAllPatientTotalCost/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webService/NewWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webService/NewWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="changePatient">
<input wsam:Action="http://webService/NewWebService/changePatientRequest" message="tns:changePatient"/>
<output wsam:Action="http://webService/NewWebService/changePatientResponse" message="tns:changePatientResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/changePatient/Fault/Exception"/>
</operation>
<operation name="changeMeeting">
<input wsam:Action="http://webService/NewWebService/changeMeetingRequest" message="tns:changeMeeting"/>
<output wsam:Action="http://webService/NewWebService/changeMeetingResponse" message="tns:changeMeetingResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/changeMeeting/Fault/Exception"/>
</operation>
<operation name="changeServices">
<input wsam:Action="http://webService/NewWebService/changeServicesRequest" message="tns:changeServices"/>
<output wsam:Action="http://webService/NewWebService/changeServicesResponse" message="tns:changeServicesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/changeServices/Fault/Exception"/>
</operation>
<operation name="AddPatiant">
<input wsam:Action="http://webService/NewWebService/AddPatiantRequest" message="tns:AddPatiant"/>
<output wsam:Action="http://webService/NewWebService/AddPatiantResponse" message="tns:AddPatiantResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/AddPatiant/Fault/Exception"/>
</operation>
<operation name="DelPatient">
<input wsam:Action="http://webService/NewWebService/DelPatientRequest" message="tns:DelPatient"/>
<output wsam:Action="http://webService/NewWebService/DelPatientResponse" message="tns:DelPatientResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/DelPatient/Fault/Exception"/>
</operation>
<operation name="AddMeeting">
<input wsam:Action="http://webService/NewWebService/AddMeetingRequest" message="tns:AddMeeting"/>
<output wsam:Action="http://webService/NewWebService/AddMeetingResponse" message="tns:AddMeetingResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/AddMeeting/Fault/Exception"/>
</operation>
<operation name="DelMeeting">
<input wsam:Action="http://webService/NewWebService/DelMeetingRequest" message="tns:DelMeeting"/>
<output wsam:Action="http://webService/NewWebService/DelMeetingResponse" message="tns:DelMeetingResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/DelMeeting/Fault/Exception"/>
</operation>
<operation name="AddService">
<input wsam:Action="http://webService/NewWebService/AddServiceRequest" message="tns:AddService"/>
<output wsam:Action="http://webService/NewWebService/AddServiceResponse" message="tns:AddServiceResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/AddService/Fault/Exception"/>
</operation>
<operation name="DelService">
<input wsam:Action="http://webService/NewWebService/DelServiceRequest" message="tns:DelService"/>
<output wsam:Action="http://webService/NewWebService/DelServiceResponse" message="tns:DelServiceResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/DelService/Fault/Exception"/>
</operation>
<operation name="GetAllPatient">
<input wsam:Action="http://webService/NewWebService/GetAllPatientRequest" message="tns:GetAllPatient"/>
<output wsam:Action="http://webService/NewWebService/GetAllPatientResponse" message="tns:GetAllPatientResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/GetAllPatient/Fault/Exception"/>
</operation>
<operation name="GetAllServices">
<input wsam:Action="http://webService/NewWebService/GetAllServicesRequest" message="tns:GetAllServices"/>
<output wsam:Action="http://webService/NewWebService/GetAllServicesResponse" message="tns:GetAllServicesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/GetAllServices/Fault/Exception"/>
</operation>
<operation name="GetAllMeetings">
<input wsam:Action="http://webService/NewWebService/GetAllMeetingsRequest" message="tns:GetAllMeetings"/>
<output wsam:Action="http://webService/NewWebService/GetAllMeetingsResponse" message="tns:GetAllMeetingsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/GetAllMeetings/Fault/Exception"/>
</operation>
<operation name="CalcPatientPaid">
<input wsam:Action="http://webService/NewWebService/CalcPatientPaidRequest" message="tns:CalcPatientPaid"/>
<output wsam:Action="http://webService/NewWebService/CalcPatientPaidResponse" message="tns:CalcPatientPaidResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/CalcPatientPaid/Fault/Exception"/>
</operation>
<operation name="counselingType">
<input wsam:Action="http://webService/NewWebService/counselingTypeRequest" message="tns:counselingType"/>
<output wsam:Action="http://webService/NewWebService/counselingTypeResponse" message="tns:counselingTypeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/counselingType/Fault/Exception"/>
</operation>
<operation name="treatmentType">
<input wsam:Action="http://webService/NewWebService/treatmentTypeRequest" message="tns:treatmentType"/>
<output wsam:Action="http://webService/NewWebService/treatmentTypeResponse" message="tns:treatmentTypeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webService/NewWebService/treatmentType/Fault/Exception"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetPatientMeeting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="CalcPatientUnpaidMeeting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="CalcPatientTotalCost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="CalcAllPatientTotalCost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changePatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="changeMeeting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="changeServices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="AddPatiant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DelPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="AddMeeting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DelMeeting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="AddService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DelService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetAllPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetAllServices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetAllMeetings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="CalcPatientPaid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="counselingType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="treatmentType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8083/java5774_5605_4375_WS/NewWebService"/>
</port>
</service>
</definitions>